# OS X
.DS_Store

# Eclipse
.classpath
.project

# R Studio
.RData
.Rhistory

# Ant
build.number

# Processing.R
bin/
dist/
build/
try/
*.log
build.xml
*.ucls
*.graffle

# Demo
*.mov

# IDEA
.idea/

# backup
*.backup

# VS Code
.vscode/

# Java
target/

# Test
test-output/
scripts/codacy-coverage-reporter-assembly.jar

# Local helpers
local/
*.log
